body{
    background-color: rgb(148,146,248);
}
button{
    color: white;
    background-color: black;
    box-shadow: 3px 3px 3px black;
    font-size: 30px;
}
img{
    font-weight: 4px;
    font-height: 6px;
}
